@import "modules/mixin";
@import "modules/normalize";

// COLORS
$white: #ffffff;
$black: #000000;
$gray: #f5f5f5;
$lime: #eaee87;
$lime--dirty: #d8db7e;
$violet: #6f0d53;

// MEDIA QUERIES
$mobile: "(max-width: 1279px)";
$desktop: "(min-width: 1280px)";

html,
body {
	width: 100%;
	min-height: 100vh;
	background-color: $white;
	font-family: 'Roboto', sans-serif;
	font-size: 4.15vmin;

	@media #{$desktop} {
		font-size: 16px;
	}
}

* {
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
	-webkit-appearance: none;
	-webkit-text-size-adjust: none;
}

.section {
	&__wrap {
		width: 90%;
		margin: 0 auto;

		@media #{$desktop} {
			width: 85.2%;
			max-width: 1158px;
		}
	}
}

ul {
	li {
		display: block;
		position: relative;
		padding-left: 1.1rem;

		@media #{$desktop} {
			padding-left: 20px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0.5rem;
			left: 0;
			width: 0.32rem;
			height: 0.32rem;
			background-color: $black;
			border-radius: 50%;

			@media #{$desktop} {
				top: 8px;
				left: 0;
				width: 5px;
				height: 5px;
			}
		}
	}
}

@import "modules/kv";
@import "modules/platform";
@import "modules/useful";
@import "modules/help";
@import "modules/partners";
@import "modules/steps";
@import "modules/grape";
@import "modules/send";
@import "modules/footer";