extends layout/template

block vars

block head
	//+loadCSS('/css/promo.css')

block content
	.index
		section.section.kv
			.section__wrap
				.kv__title
					| мы –&nbsp;
					br
					span Better
				.kv__subtitle
					| Краудсорсинговая платформа, созданная, чтобы предоставить некоммерческому сектору доступ к маркетинговым услугам высокого качества.
				.kv__united
					| Мы объединяем:
				ul.kv__content
					li
						| благотворительные фонды, которым нужна коммуникационная поддержка в&nbsp;решении важных социальных задач;
					li
						| профессиональных маркетологов и специалистов рекламной индустрии, готовых оказать помощь на безвозмездной (pro bono) основе;
					li
						| медиамеценатов, предоставляющих инвентарь для реализации кампаний социальной направленности;
					li
						| non-for-profit агентство полного цикла, созданное для реализации рекламных кампаний социальной направленности.
		section.section.platform
			.section__wrap
				.platform__title
					| Как это работает:
				.platform__content
					ul.platform__col
						li
							| Профессиональные маркетологи: стратеги, креаторы, копирайтеры и другие специалисты рекламного рынка, объединенные в сообщество интеллектуальных волонтеров.
						li
							| Рекламный нвентарь (ТВ, наружная реклама, digital, радио, пресса и спецпроекты) для реализации кампаний от медиамеценатов.
						li
							| Реальные брифы от благотворительных фондов
							br
							| и&nbsp;НКО.
					ul.platform__col
						li
							| Полный спектр рекламных услуг в рамках проектов, решающих общественно значимые проблемы.
						li
							| Партнерство с брендами в пользу развития краудсорсинговой платформы.
						li
							| Аналитические и операционные ресурсы группы Dentsu Aegis Network для ответственного сопровождения проектов.
						li
							| Верифицированные адресаты благотворительных инициатив.
		section.section.useful
			.section__wrap
				.useful__el
					.useful__content
						.useful__title
							| Для чего это
							br
							span
								| специалистам рекламной
								| индустрии?
					ul.useful__list
						li
							span Развитие:&nbsp;
							| в процессе работы над брифами интеллектуальные волонтеры сотрудничают с&nbsp;лидерами ведущих коммуникационных агентств страны и расширяют свой нетворк.
						li
							span Масштаб:&nbsp;
							| идеи реализуются силами полносервисного агентства при платформе и&nbsp;транслируются на ТВ, в digital, прессе, на радио и&nbsp;в&nbsp;наружной рекламе.
						li
							span Признание рынка:&nbsp;
							| социально значимые проекты получают награды на крупнейших индустриальных фестивалях.
				.useful__el
					.useful__content
						.useful__title
							| Для чего это
							br
							span медиамеценатам?
					ul.useful__list
						li
							span Надежность:&nbsp;
							| медиаинвентарь гарантированно идет&nbsp;на&nbsp;благие цели — верифицированным НКО.
						li
							span Качественный креатив:&nbsp;
							| социальная реклама, которой можно гордиться.
						li
							span Положительный PR:&nbsp;
							| улучшение имиджа бизнеса благодаря активной социальной позиции.
				.useful__el
					.useful__content
						.useful__title
							| Зачем это нам?
					ul.useful__list
						li
							span Сделать хорошее дело:
							|  некоммерческий сектор заслуживает такой же маркетинговой поддержки, как&nbsp;и&nbsp;бренды международных корпораций.
							| И&nbsp;в&nbsp;наших&nbsp;профессиональных силах обеспечить им&nbsp;эту поддержку.
						li
							span Привлечь людей в профессию:
							|  делать рекламу уже&nbsp;не&nbsp;так&nbsp;сексуально, как раньше.
							| Возможно, пора&nbsp;стать социально ответственной индустрией — тогда&nbsp;правильные люди потянутся.
		section.section.help
			.section__wrap
				.help__logo
				.help__title
					| Ключевой партнер проекта – фонд «Нужна помощь», поддерживающий работу 203&nbsp;благотворительных организаций по всей России.
					| Именно «Нужна помощь» будет верифицировать НКО для работы с платформой Better.
					br
					br
					| «Нужна помощь» – это:
				.help__list
					.help__item
						.help__img
						.help__text
							| Прозрачность процессов
							| и&nbsp;бухгалтерская
							| отчетность
					.help__item
						.help__img
						.help__text
							| Проверка целевого расходования средств фондами
					.help__item
						.help__img
						.help__text
							| Инфраструктура
							| для&nbsp;взаимодействия
							| с&nbsp;фондами
		section.section.partners
			.section__wrap
				.partners__title
					| Нашими партнерами уже являются
					| известные компании и&nbsp;бренды
				.partners__list
					.partners__item.partners__item_nra
					.partners__item.partners__item_google
					.partners__item.partners__item_imho
					.partners__item.partners__item_rbk
					.partners__item.partners__item_maer
					.partners__item.partners__item_russ
					.partners__item.partners__item_gallery
					.partners__item.partners__item_emg
					.partners__item.partners__item_ok
				.partners__subtitle
					| Не хватает только вас!
		//-section.section.steps
			.section__wrap
				.steps__title
					| Чтобы это исправить, потребуется:
				.steps__list
					.steps__item
						.steps__num 1
						span
							| подписание соглашения о&nbsp;партнерстве с&nbsp;платформой Probonum
					.steps__item
						.steps__num 2
						span
							| предоставление определенного объёма ресурсов (медийных или временных)
							| для освещения социально значимых инициатив
					.steps__item
						.steps__num 3
						span
							| согласование системного подхода по взаимодействию с&nbsp;платформой Probonum
		//-section.section.grape
			.section__wrap
				.grape__conetnt
					.grape__col
						.grape__title
							| Люси
							br
							span ВИНОГРАД
						.grape__subtitle
							| Лидер проекта и филантроп
							| с&nbsp;активной гражданской
							| позицией.
					.grape__col
						.grape__text
							| Опыт Люси в рекламной индустрии составляет более 10 лет, в&nbsp;течение которых
							| она проявила себя в&nbsp;разных сферах: маркетинг, креативный брендинг, BTL и digital-реклама.
							| Помимо профессионального опыта на рекламном рынке Люси является экспертом в&nbsp;арт-бизнесе,
							| магистром современного искусства от института искусств Sotheby’s London и основателем арт-агентства
							| Everal, образовательного проекта Everal Circle, а&nbsp;также арт-фестиваля молодых художников
							| EverArt Weekend.
						a.grape__btn(href='mailto:lucy.vinograd@dentsuaegis.ru')
							| Написать Люси
		section.section.send
			.section__wrap
				.send__text
					| Присоединяйтесь! Мы приглашаем к диалогу
					| специалистов рекламного рынка и&nbsp;медиамеценатов,
					| чтобы придумывать и&nbsp;реализовывать проекты,
					| которые сделают мир лучше.
				.send__you
					| Вы с нами?
				.send__btns
					a.send__btn(href='mailto:volunteer@betterplatform.ru')
						| Хочу стать волонтером
					a.send__btn(href='mailto:mediapatron@betterplatform.ru')
						| Хочу стать меценатом
		footer.section.footer
			.section__wrap
				.footer__content
					.footer__logo
						| Better
					.footer__description
						span
							| краудсорсинговая платформа и агентство для создания
							| и&nbsp;реализации социально значимых проектов
					.footer__copyright
						| © Better, 2019



block footer
	script(src="/js/main.bundle.js")