extends layout/template

block vars

block head
	//+loadCSS('/css/promo.css')

block content
	.index
		section.index__kv.kv
			.kv__wrap
				.kv__title
					| мы –&nbsp;
					br
					span Probonum
				.kv__subtitle
					| Краудсорсинговая платформа, которая объединяет
				.kv__content
					.kv__text
						| креативных волонтеров, разрабатывающих идеи в формате pro bono
					.kv__text
						| медиамеценатов, предоставляющих инвентарь для реализации кампаний социальной направленности
					.kv__text
						| благотворительные фонды, предоставляющие брифы для решения важных социальных задач, стоящих перед обществом
				.kv__next
		section.index__platform
		section.index__useful
		section.index__help
		section.index__partners
		section.index__steps
		section.index__grape
		section.index__send
		footer.footer



block footer
	script(src="/js/main.bundle.js")