block vars

mixin loadCSS(url)
	case ENV
		when 'development'
			//placeholder for generated css
		default
			link(rel="stylesheet", href=url)/


doctype html
html
	head
		meta(charset="UTF-8")/
		meta(name="viewport", content="width=device-width")/
		meta(http-equiv="X-UA-Compatible", content="IE=edge")/
		link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet")
		+loadCSS("/css/main.css")
		meta(property="og:type" content="website")/
		meta(property='og:title', content = 'Probonum')/
		meta(property='og:description', content = 'Probonum - краудсорсинговая платформа, объединяющая волонтеров, медиа меценатов и благотворительные фонды для решения актуальных социальных проблем')/
		title Probonum
		meta(name='description' content = 'Probonum - краудсорсинговая платформа, объединяющая волонтеров, медиа меценатов и благотворительные фонды для решения актуальных социальных проблем')/
		script(src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

		block head
		// Google Tag Manager
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-NZCT248');
		// End Google Tag Manager
	body
		.wrapper
			.website
				block content
		block footer
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-NZCT248', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)

