.footer {
	padding: 1.65rem 0;
	background-color: $lime--dirty;

	@media #{$desktop} {
		padding: 34px 0 32px 0;
	}

	&__content {

		@media #{$desktop} {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__logo {
		color: $violet;
		font-size: 2rem;
		font-weight: 700;
		text-transform: uppercase;

		@media #{$desktop} {
			font-size: 40px;
		}
	}

	&__description {
		margin-top: 1.1rem;
		font-size: 0.9rem;
		font-weight: 300;
		line-height: 1.2;

		@media #{$desktop} {
			width: 775px;
			margin-top: 0;
			font-size: 16.5px;
		}

		span {
			display: block;

			@media #{$desktop} {
				width: 460px;
			}
		}
	}

	&__copyright {
		margin-top: 1.1rem;
		font-size: 1.1rem;
		font-weight: 400;
		letter-spacing: 0.4px;

		@media #{$desktop} {
			width: 200px;
			margin-top: 0;
			font-size: 22px;
			transform: translateY(-3px);
			text-align: right;
		}
	}
}