.help {
	padding: 4.08rem 0 4.4rem 0;

	@media #{$desktop} {
		padding: 102px 0 98px 0;
	}

	&__logo {
		width: 18.2rem;
		height: 2.2rem;
		margin: 0 auto;
		background: url(../img/help-logo.png) no-repeat 50%;
		background-size: contain;

		@media #{$desktop} {
			width: 425px;
			height: 47px;
		}
	}

	&__title {
		margin: 2.1rem auto 0;
		line-height: 1.25;
		letter-spacing: 0;
		font-size: 1.3rem;
		font-weight: 300;
		text-align: center;

		@media #{$desktop} {
			margin-top: 35px;
			font-size: 30px;
		}
	}

	&__list {
		width: 98%;
		margin: 1.5rem auto 0;

		@media #{$desktop} {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			width: 1070px;
			margin: 28px auto 0;
		}
	}
	&__item {
		margin-top: 1.52rem;

		@media #{$desktop} {
			width: 25%;
			margin-top: 0;
		}

		&:nth-of-type(1) {
			& .help__text {
				@media #{$desktop} {
					width: 256px;
					margin: 23px auto 0;
				}
			}
		}
	}
	&__img {
		width: 4.03rem;
		height: 3.74rem;
		margin: 0 auto;
		background: url(../img/check.png) no-repeat 50%;
		background-size: contain;

		@media #{$desktop} {
			width: 83px;
			height: 77px;
		}
	}
	&__text {
		margin-top: 1.5rem;
		line-height: 1.2;
		font-size: 1.18rem;
		font-weight: 300;
		text-align: center;

		@media #{$desktop} {
			margin-top: 23px;
			font-size: 20px;
		}
	}
}