.kv {
	width: 100%;
	background-color: $orange;
	height: 40rem;
	padding-top: 4rem;

	@media #{$desktop} {
		height: 700px;
		padding-top: 92px;
		background-image: url(../img/kv-bg.png);
		background-repeat: no-repeat;
		background-position: 100% 0;
	}

	&__title {
		font-size: 3.5rem;
		font-weight: 300;
		text-transform: uppercase;
		color: $white;

		@media #{$desktop} {
			font-size: 72px;
		}

		span {
			font-weight: 700;
			letter-spacing: 2.6px;
		}
	}

	&__subtitle {
		margin-top: 3rem;
		font-size: 1.5rem;
		font-weight: 100;
		letter-spacing: 0.6px;

		@media #{$desktop} {
			margin-top: 50px;
			font-size: 24px;
		}
	}

	&__text {
		margin-top: 1rem;
		line-height: 1.1;
		font-size: 1.1rem;
		font-weight: 300;
		letter-spacing: 0.5px;

		@media #{$desktop} {
			margin-top: 15px;
			width: 500px;
			margin-left: 36px;
			font-size: 20px;
		}

		&:first-of-type {
			margin-top: 1.3rem;

			@media #{$desktop} {
				margin-top: 36px;
			}
		}
	}

	&__next {
		width: 2.8rem;
		height: 2.8rem;
		margin-top: 1.8rem;
		background: url(../img/arrow.svg) no-repeat 50% 50%;
		background-size: contain;
		cursor: pointer;

		@media #{$desktop} {
			width: 46px;
			height: 46px;
			margin-top: 40px;
		}
	}
}