.kv {
	width: 100%;
	background-color: $lime;
	height: 45rem;
	padding-top: 2.5rem;

	@media #{$desktop} {
		height: 700px;
		padding-top: 67px;
		background-image: url(../img/kv-bg.png);
		background-repeat: no-repeat;
		background-position: right bottom;
	}

	&__title {
		font-size: 3rem;
		font-weight: 100;
		text-transform: uppercase;

		@media #{$desktop} {
			font-size: 70px;
		}

		span {
			line-height: 0.9;
			font-size: 4rem;
			font-weight: 700;
			letter-spacing: 0;
			color: $violet;

			@media #{$desktop} {
				font-size: 94px;
			}
		}
	}

	&__subtitle {
		margin-top: 1.25rem;
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: -0.1px;

		@media #{$desktop} {
			width: 780px;
			margin-top: 19px;
			font-size: 25px;
		}
	}

	&__united {
		margin-top: 1.25rem;
		font-size: 1.1rem;
		font-weight: 500;

		@media #{$desktop} {
			margin-top: 33px;
			font-size: 19px;
		}
	}

	&__content {
		li {
			margin-top: 1.2rem;
			line-height: 1.2;
			font-size: 1rem;
			font-weight: 100;
			letter-spacing: 0;

			@media #{$desktop} {
				margin-top: 16px;
				width: 740px;
				font-size: 19px;
			}

			&:first-of-type {
				margin-top: 1.1rem;

				@media #{$desktop} {
					margin-top: 14px;
				}
			}

			&:before {
				top: 0.5rem;

				@media #{$desktop} {
					top: 9px;
				}
			}
		}
	}
}