.kv {
	width: 100%;
	background-color: $lime;
	height: 40rem;
	padding-top: 4rem;

	@media #{$desktop} {
		height: 700px;
		padding-top: 104px;
		background-image: url(../img/kv-bg.png);
		background-repeat: no-repeat;
		background-position: right bottom;
	}

	&__title {
		font-size: 3rem;
		font-weight: 100;
		text-transform: uppercase;

		@media #{$desktop} {
			font-size: 70px;
		}

		span {
			line-height: 0.9;
			font-size: 3.56rem;
			font-weight: 700;
			letter-spacing: 2.6px;
			color: $violet;

			@media #{$desktop} {
				font-size: 94px;
			}
		}
	}

	&__subtitle {
		margin-top: 1.65rem;
		font-size: 1.5rem;
		font-weight: 300;
		letter-spacing: -0.1px;

		@media #{$desktop} {
			margin-top: 34px;
			font-size: 30px;
		}
	}

	&__content {
		li {
			margin-top: 1.5rem;
			line-height: 1.2;
			font-size: 1rem;
			font-weight: 100;
			letter-spacing: 0.5px;

			@media #{$desktop} {
				margin-top: 23px;
				width: 530px;
				font-size: 19px;
			}

			&:first-of-type {
				margin-top: 1.3rem;

				@media #{$desktop} {
					margin-top: 30px;
				}
			}

			&:before {
				top: 0.5rem;

				@media #{$desktop} {
					top: 10px;
				}
			}
		}
	}

	&__next {
		width: 2.8rem;
		height: 2.8rem;
		margin-top: 1.8rem;
		background: url(../img/next.svg) no-repeat 50% 50%;
		background-size: contain;
		cursor: pointer;

		@media #{$desktop} {
			width: 46px;
			height: 46px;
			margin-top: 25px;
		}
	}
}