.partners {
	position: relative;
	padding: 3.56rem 0 3.42rem;
	background-color: $gray;

	@media #{$desktop} {
		padding: 96px 0 98px;
	}

	&__title {
		margin: 0 auto;
		line-height: 1.1;
		font-size: 1.8rem;
		font-weight: 300;
		text-align: center;

		@media #{$desktop} {
			width: 680px;
			font-size: 35px;
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		margin-top: 3.5rem;

		@media #{$desktop} {
			justify-content: space-between;
			margin-top: 56px;
		}
	}

	&__item {
		margin: 0 0.5rem 2rem;
		opacity: 0.45;
		cursor: pointer;

		@media #{$desktop} {
			margin: 0 0 84px;
		}

		&:hover {
			@media #{$desktop} {
				opacity: 1;
			}
		}

		&_google {
			width: 12.5rem;
			height: 1.85rem;
			background-image: url(../img/google-mono.png);
			background-size: 12.5rem 1.85rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 250px;
				height: 37px;
				background-size: 250px 37px;

			}
			&:hover {
				@media #{$desktop} {
					background-image: url(../img/google.png);
				}
			}
		}

		&_imho {
			width: 3.4rem;
			height: 3.4rem;
			background-image: url(../img/imho.png);
			background-size: 3.4rem 6.8rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 68px;
				height: 68px;
				background-size: 68px 136px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -68px;
				}
			}
		}

		&_rbk {
			width: 6.9rem;
			height: 1.8rem;
			background-image: url(../img/rbk.png);
			background-size: 6.9rem 3.6rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 135px;
				height: 36px;
				background-size: 135px 72px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -36px;
				}
			}
		}

		&_maer {
			width: 11.95rem;
			height: 1rem;
			background-image: url(../img/maer.png);
			background-size: 11.95rem 2rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 239px;
				height: 20px;
				background-size: 239px 40px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -20px;
				}
			}
		}

		&_nra {
			width: 11.95rem;
			height: 2.85rem;
			background-image: url(../img/nra.png);
			background-size: 11.95rem 5.7rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 239px;
				height: 57px;
				background-size: 239px 114px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -57px;
				}
			}
		}

		&_russ {
			width: 13.7rem;
			height: 2.2rem;
			background-image: url(../img/russ-outdoor.png);
			background-size: 13.7rem 4.4rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 274px;
				height: 44px;
				background-size: 274px 88px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -44px;
				}
			}
		}

		&_gallery {
			width: 12.2rem;
			height: 2.7rem;
			background-image: url(../img/gallery.png);
			background-size: 12.2rem 5.4rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 244px;
				height: 54px;
				background-size: 244px 108px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -54px;
				}
			}
		}
		&_emg {
			width: 6.45rem;
			height: 2.25rem;
			background-image: url(../img/emg.png);
			background-size: 6.45rem 4.5rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 129px;
				height: 45px;
				background-size: 129px 90px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -45px;
				}
			}
		}
		&_ok {
			width: 15rem;
			height: 1.55rem;
			background-image: url(../img/ok.png);
			background-size: 15rem 3.1rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 300px;
				height: 31px;
				background-size: 300px 62px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -31px;
				}
			}
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	&__subtitle {
		margin-top: 1.8rem;
		font-size: 1.8rem;
		font-weight: 300;
		text-align: center;

		@media #{$desktop} {
			margin-top: 8px;
			font-size: 35px;
		}
	}
}