.partners {
	position: relative;
	padding: 3.56rem 0 3.42rem;
	background-color: $gray;

	@media #{$desktop} {
		padding: 96px 0 98px;
	}

	&__title {
		margin: 0 auto;
		line-height: 1.1;
		font-size: 1.8rem;
		font-weight: 300;
		text-align: center;

		@media #{$desktop} {
			width: 680px;
			font-size: 35px;
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		margin-top: 3.5rem;

		@media #{$desktop} {
			justify-content: space-between;
			margin-top: 76px;
		}
	}

	&__item {
		margin: 0 0.5rem 2rem;
		opacity: 0.45;
		cursor: pointer;
		//outline: 1px solid $violet;

		@media #{$desktop} {
			margin: 0 30px 74px 0;
		}

		&:hover {
			@media #{$desktop} {
				opacity: 1;
			}
		}

		&_google {
			width: 10rem;
			height: 1.45rem;
			background-image: url(../img/google-mono.png);
			background-size: 10rem 1.45rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 200px;
				height: 29px;
				background-size: 200px 29px;

			}
			&:hover {
				@media #{$desktop} {
					background-image: url(../img/google.png);
				}
			}
		}

		&_imho {
			width: 2.7rem;
			height: 2.7rem;
			background-image: url(../img/imho.png);
			background-size: 2.7rem 5.4rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 54px;
				height: 54px;
				background-size: 54px 108px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -54px;
				}
			}
		}

		&_rbk {
			width: 5.52rem;
			height: 1.43rem;
			background-image: url(../img/rbk.png);
			background-size: 5.52rem 2.86rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 108px;
				height: 28px;
				background-size: 108px 56px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -28px;
				}
			}
		}

		&_maer {
			width: 9.4rem;
			height: 0.75rem;
			background-image: url(../img/maer.png);
			background-size: 9.4rem 1.5rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 188px;
				height: 15px;
				background-size: 188px 31px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -16px;
				}
			}
		}

		&_nra {
			width: 9.4rem;
			height: 2.25rem;
			background-image: url(../img/nra.png);
			background-size: 9.4rem 4.5rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 188px;
				height: 45px;
				background-size: 188px 90px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -45px;
				}
			}
		}

		&_russ {
			width: 10.04rem;
			height: 1.59rem;
			background-image: url(../img/russ-outdoor.png);
			background-size: 10.04rem 3.18rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 201px;
				height: 32px;
				background-size: 201px 64px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -32px;
				}
			}
		}

		&_gallery {
			width: 9.8rem;
			height: 2.2rem;
			background-image: url(../img/gallery.png);
			background-size: 9.8rem 4.4rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 196px;
				height: 44px;
				background-size: 196px 88px;
				transform: translateY(2px);
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -44px;
				}
			}
		}
		&_emg {
			width: 5.1rem;
			height: 1.75rem;
			background-image: url(../img/emg.png);
			background-size: 5.1rem 3.5rem;
			background-position: 0 0;
			transform: translateY(0.1rem);

			@media #{$desktop} {
				width: 102px;
				height: 35px;
				background-size: 102px 70px;
				transform: translateY(7px);
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -35px;
				}
			}
		}
		&_ok {
			width: 12.05rem;
			height: 1.2rem;
			background-image: url(../img/ok.png);
			background-size: 12.05rem 2.4rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 241px;
				height: 24px;
				background-size: 241px 48px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -24px;
				}
			}
		}

		&_laice {
			width: 8.54rem;
			height: 3.05rem;
			background-image: url(../img/laice.png);
			background-size: 8.54rem 6.1rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 171px;
				height: 61px;
				background-size: 171px 122px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -61px;
				}
			}
		}

		&_olimp {
			width: 7.75rem;
			height: 3.05rem;
			background-image: url(../img/olimp.png);
			background-size: 7.75rem 6.1rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 155px;
				height: 61px;
				background-size: 155px 122px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -61px;
				}
			}
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	&__subtitle {
		margin-top: 1.8rem;
		font-size: 1.8rem;
		font-weight: 300;
		text-align: center;

		@media #{$desktop} {
			margin-top: 8px;
			font-size: 35px;
		}
	}
}