.partners {
	position: relative;
	padding: 3.56rem 0 3.42rem;
	background-color: $gray;

	@media #{$desktop} {
		padding: 97px 0 86px;
	}

	&__title {
		margin: 0 auto;
		line-height: 1.1;
		font-size: 1.8rem;
		font-weight: 300;
		text-align: center;

		@media #{$desktop} {
			width: 860px;
			font-size: 35px;
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		margin-top: 4rem;

		@media #{$desktop} {
			justify-content: space-between;
			margin-top: 84px;
		}
	}

	&__item {
		//margin: 0 1.4rem 1.75rem 1.1rem;
		//transition: background 0.3s ease-in;
		margin: 0.7rem 1.2rem;
		cursor: pointer;

		@media #{$desktop} {
			margin: 0 30px 36px 20px;
		}

		&:nth-of-type(n+1) {
			//margin-left: 0;
		}
		&:nth-of-type(n+5) {
			@media #{$desktop} {
				margin-right: 0;
			}
		}

		&_google {
			width: 8.45rem;
			height: 2.8rem;
			background-image: url(../img/google.png);
			background-size: 8.45rem 5.6rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 169px;
				height: 56px;
				background-size: 169px 112px;

			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -56px;
				}
			}
		}

		&_imho {
			width: 4.5rem;
			height: 4.5rem;
			background-image: url(../img/imho.png);
			background-size: 4.5rem 9rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 90px;
				height: 90px;
				background-size: 90px 180px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -90px;
				}
			}
		}

		&_rbk {
			width: 8.4rem;
			height: 2.25rem;
			background-image: url(../img/rbk.png);
			background-size: 8.4rem 4.5rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 168px;
				height: 45px;
				background-size: 168px 90px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -45px;
				}
			}
		}

		&_ok {
			width: 4.55rem;
			height: 4.55rem;
			background-image: url(../img/ok.png);
			background-size: 4.55rem 9.1rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 91px;
				height: 91px;
				background-size: 91px 182px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -91px;
				}
			}
		}

		&_nra {
			width: 14.6rem;
			height: 3.45rem;
			background-image: url(../img/nra.png);
			background-size: 14.6rem 6.9rem;
			background-position: 0 0;

			@media #{$desktop} {
				width: 292px;
				height: 69px;
				background-size: 292px 138px;
			}
			&:hover {
				@media #{$desktop} {
					background-position: 0 -69px;
				}
			}
		}

		//&_leroy {
		//	width: 5.68rem;
		//	height: 3.4rem;
		//
		//	@media #{$desktop} {
		//		width: 117px;
		//		height: 70px;
		//	}
		//}
		//&_megafon {
		//	width: 10.2rem;
		//	height: 1.79rem;
		//
		//	@media #{$desktop} {
		//		width: 210px;
		//		height: 37px;
		//	}
		//}
		//&_vsk {
		//	width: 8.36rem;
		//	height: 2.28rem;
		//
		//	@media #{$desktop} {
		//		width: 172px;
		//		height: 47px;
		//	}
		//}

		img {
			width: 100%;
			height: auto;
		}
	}

	&__subtitle {
		margin-top: 1.8rem;
		font-size: 1.8rem;
		font-weight: 300;
		text-align: center;

		@media #{$desktop} {
			margin-top: 22px;
			font-size: 35px;
		}
	}

	&:after {
		content: '';
		position: absolute;
		bottom: -2.9rem;
		left: 50%;
		transform: translateX(-50%);
		border: 1.45rem solid transparent;
		border-top: 1.45rem solid $gray;

		@media #{$desktop} {
			bottom: -60px;
			border: 30px solid transparent;
			border-top: 30px solid $gray;
		}
	}
}