.platform {
	padding: 3rem 0 3.5rem 0;

	@media #{$desktop} {
		padding: 96px 0 75px 0;
	}

	&__title {
		font-size: 1.52rem;
		font-weight: 300;
		letter-spacing: 0;

		@media #{$desktop} {
			font-size: 30px;
		}
	}

	&__content {
		margin-top: 1.1rem;

		@media #{$desktop} {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 14px;
		}
	}

	&__col {

		@media #{$desktop} {
			width: 48.4%;
		}

		&:nth-of-type(2) {
			@media #{$desktop} {
				margin-top: -14px;
			}

			li {

				@media #{$desktop} {
					margin-top: 30px;
				}

				&:nth-of-type(1) {
					@media #{$desktop} {
						margin-top: 41px;
					}
				}
			}
		}

		li {
			margin-top: 1.5rem;
			line-height: 1.2;
			font-size: 1rem;
			font-weight: 300;
			letter-spacing: -0.2px;

			@media #{$desktop} {
				width: 89%;
				margin-top: 27px;
				font-size: 19px;
			}
		}
	}
}