.send {
	padding: 4.5rem 0 4rem;
	background-color: $lime;

	@media #{$desktop} {
		padding: 93px 0 105px;
	}

	&__text {
		font-size: 1.8rem;
		font-weight: 300;
		text-align: center;
		letter-spacing: 0.1px;
		line-height: 1.2;

		@media #{$desktop} {
			width: 1040px;
			margin: 0 auto;
			font-size: 35px;
		}
	}

	&__you {
		font-size: 65px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;

		@media #{$desktop} {
			margin-top: 45px;
			font-size: 65px;
			font-weight: 700;
		}
	}

	&__btns {
		margin-top: 3rem;

		@media #{$desktop} {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 55px auto 0;
			width: 800px;
		}
	}

	&__btn {
		width: 21.55rem;
		height: 3.3rem;
		line-height: 3.3rem;
		margin: 0 auto;
		background-color: $white;
		font-size: 1.1rem;
		font-weight: 700;
		letter-spacing: 0.5px;
		text-align: center;
		text-transform: uppercase;
		border-radius: 32rem;
		transition: color 0.3s ease-in;

		@media #{$desktop} {
			width: 360px;
			height: 58px;
			line-height: 58px;
			font-size: 21px;
			border-radius: 30px;
		}

		&:hover {
			@media #{$desktop} {
				color: $violet;
				transition: color 0.3s ease-out;
			}
		}
	}
}